@charset "UTF-8";
body{background-color: #fafafa;}
#wrapper_header {background-color: #fff; border-bottom:1px solid #ffb500;}
.help_menu{float:left;width:290px;}
.help_menu a{display: block;font-size: 24px;color:#4c4c4c;line-height:70px;border-bottom:1px solid #b3b3b3;padding-left:9px;}
.help_menu a:hover,.help_menu a.active{color:#ff1818;text-decoration: none;}
.help_from{float:right;width:895px;background-color: #fff;padding:40px 20px 10px 27px;}
.help_from_list{margin-bottom:30px;}
.help_from_title{font-size: 22px;color:#005daa;line-height:30px;margin-bottom:40px;}
.help_from_text{font-size: 16px;color:#808080;line-height:30px;padding-left:20px;padding-bottom:10px;}
.help_from_text a{text-decoration: none;color:#ff1818;font-weight: bold;}
.help_from_text a:hover{text-decoration: underline;}

.trademark_bottom_wrapper .help_from{float: none;margin:0 auto;}