@charset "UTF-8";
.figure_wrap{height:618px;position:relative;}
.figure{width:100%;margin: 0 auto;height:100%;position: relative;}
.figure_pic a{display:block;}
.figure_pic img{height:618px;margin:0 auto;}
.figure .tempWrap{margin:0 auto;}

/*数字按钮样式*/
.figure .num{overflow:hidden;position:absolute;bottom:27px;left:0;zoom:1;z-index:3;width:100%;text-align: center;height:20px;}
.figure .num ul{display: inline-block;}
.figure .num li{width:20px;height:20px;font-size: 0;cursor:pointer;float:left;margin:0 16px;overflow: hidden;background: url(../images/figure_bg.png) no-repeat center center;}
.figure .num li.on {background-image:url(../images/figure_bg_on.png);} /*当前项*/

.m_gotop{position: fixed;right:80px;bottom:10%;width:80px;height:80px;background: url(../images/index_to_top.png) no-repeat center center;display: none;}
/* .index_box{padding-bottom:203px;} */
.index_title{width:600px;margin:0 auto;padding:90px 0 21px;border-bottom:1px solid #e6e6e6;line-height: 45px;font-size: 30px;text-align: center;color:#4c4c4c;position: relative;}
.index_title span{display:block;height:8px;font-size: 0;overflow: hidden;width:58px;background:url(../images/index_title_bg.png) no-repeat center center;margin:0 auto;}
.index_title i{position: absolute;left:50%;bottom:-6px;margin-left:-6px;width:12px;height:12px;font-size: 0;overflow: hidden;background:url(../images/login_title_bg.png) no-repeat center center;}
.index_step1_text{font-size:18px;line-height: 36px;color:#4c4c4c;padding:79px 0 40px;width:1280px;margin:0 auto;}

.index_steps_box{border-top:22px solid #fef4df;position: relative;margin-top:48px;background-color: #f9b427;padding-top:176px;}
.index_step2_icon{width:50px;height:50px;background: url(../images/index_step2_bg1.png) no-repeat center center;left:50%;top:-25px;position: absolute;margin-left:-25px;}
.index_wrapper{width:1220px;margin:0 auto;}
.index_step{border-top:6px solid #fbd27d;padding-bottom:70px;}
.index_step li{float:left;text-align: center;margin-top:-46px;width:203px;}
.index_step .index_step_li1{width:204px;}
.index_step .index_step_li2{width:204px;}
.index_step a{position: relative;width:108px;height:92px;display:inline-block;background-color: #f9b427;}
.index_step i{width:92px;height:92px;background: url(../images/index_step2_bg2.png) no-repeat center center;display:block;margin:0 auto;line-height:92px;text-align: center;font-size:30px;color:#fab323;}
.index_step em{font-size:18px;color:#fff;display:block;line-height: 30px;text-align: center;margin-top:20px;}
.index_step .active i{background-image:url(../images/index_step2_bg3.png);}
.index_step .active em{font-weight:bold;}
.index_step li:hover i{background-image:url(../images/index_step2_bg3.png);}
.index_step li:hover em{font-weight:bold;}
.index_step_content{line-height: 34px;height:171px;color:#fff;font-size:20px;font-weight: bold;}
.index_step_content p{display:none;}
.index_step_content .active{display:block;}

.index_step3{width:1187px;margin: 80px auto 50px;background: url(../images/index_step3_bg.png) no-repeat center 23px;}
.index_step3 li{height:237px;padding:0 15px 0 6px;width:354px;border-bottom:1px solid #ccc;margin-bottom:123px;}
.index_step3 li.fl{margin-right:200px;}
.index_step3 li.fr{margin-left:200px;}
.index_step3 li span{float:left;width:108px;height:108px;border-radius: 50%;border:1px solid #fab323;background-repeat: no-repeat;background-position: center center;margin-right:;}
.index_step3 li:hover span{background-color: #fab323;}
.index_step3 .index_step3_icon1{background-image:url(../images/index_step3_icon1.png);}
.index_step3 .index_step3_icon2{background-image:url(../images/index_step3_icon2.png);}
.index_step3 .index_step3_icon3{background-image:url(../images/index_step3_icon3.png);}
.index_step3 .index_step3_icon4{background-image:url(../images/index_step3_icon4.png);}
.index_step3 li p{margin-left:148px;padding-top:22px;}
.index_step3 li p em{font-size: 26px;color:#4d4d4d;display: block;line-height:32px;margin-bottom:11px;white-space: nowrap;}
.index_step3 li p i{font-size: 14px;color:#808080;display: block;line-height:18px;}

.index_step4_nav{margin:82px auto 77px;width:1296px;}
.index_step4_nav a{float:left;width:306px;height:62px;line-height:62px;color:#808080;text-align: center;margin:0 8px;border:1px solid #f9b427;border-radius:32px;font-size: 24px;}
.index_step4_nav a:hover,.index_step4_nav a.active{background-color: #f9b427;color:#fff;}

.index_step4_figure{width:1250px;margin:0 auto;overflow: hidden;height:730px;position: relative;}
.figure_ul{width:400%;margin:0 auto;height:685px;position: absolute;left:0;top:0;}
.figure_ul .figure_wrap{width:1250px;height:100%;float:left;}
.figure_ul .figure_pic img{height:685px;}
.figure_ul .num{bottom:-45px;}
.figure_ul .num li{width:12px;height:12px;background-image: url(../images/figure_small_bg.png);margin:0 19px;}
.figure_ul .num li.on {background-image:url(../images/figure_small_bg_on.png);} /*当前项*/
/*上一个  下一个*/
.figure_wrap .prev,.figure_wrap .next{width:34px;height:68px;position:absolute;top:50%;margin-top:-34px;}
.figure_wrap .prev{left:0;background:url(../images/step_left_bg.png) no-repeat center center;}
.figure_wrap .next{right:0;background-position:right;background:url(../images/step_right_bg.png) no-repeat center center;}
.figure_wrap .prev i{width:100%;height:100%;position:absolute;top:0;left:0;background:url(../images/step_left.png) no-repeat 5px center;}
.figure_wrap .next i{width:100%;height:100%;position:absolute;top:0;left:0;background:url(../images/step_right.png) no-repeat 15px center;}
.figure_wrap .prev:hover{background-image:url(../images/step_left_bg_on.png);}
.figure_wrap .next:hover{background-image:url(../images/step_right_bg_on.png);}