@charset "UTF-8";
.header_tools_nav a{position: relative;cursor: pointer;display:inline-block;color:#fff;}
.header_tools_nav a i{background: url(../images/tools_nav_icon.png) no-repeat;width:34px;height:34px;position: absolute;bottom:-48px;left:50%;margin-left:-17px;display:none;}
.header_tools_nav a:hover i,.header_tools_nav .active i{display:block;}
/* step1 */
.tools_step1_title{font-size: 26px;line-height: 42px;color:#1a1a1a;padding-bottom:18px;border-bottom: 1px solid #e6e6e6;margin-bottom:24px;position: relative;padding-top:48px;}
.tools_step1_search{width:228px;border-color:#fab427;color:#808080;float:right;}
.tools_step1_title i{position: absolute;width:12px;height:12px;background: url(../images/login_title_bg.png) no-repeat center center;left:129px;bottom:-6px;}
/* 表格 */
.tools_table{border:1px solid #e6e6e6;width:100%;}
.tools_table th{font-size:18px;color:#1a1a1a;height:58px;padding:0 20px;border:1px solid #e6e6e6;text-align: left;}
.tools_table tbody td{color:#4c4c4c;font-size:14px;border:1px solid #e6e6e6;padding:18px 20px;line-height: 18px;vertical-align: top;text-align: left;}
.tools_table tbody td.class_num{text-align: center;font-size:30px;vertical-align: middle;}
/* step2 */
.tools_step2{padding-top:48px;}
.tools_step2_title{font-size:18px;color:#1a1a1a;line-height: 42px;border:1px solid #fab427;position: relative;margin-bottom:14px;cursor: pointer;}
.tools_step2_title span{display: block;padding-left:20px;width:1061px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tools_step2_title i{border:1px solid #fab427;position: absolute;width:86px;height:32px;right:5px;top:4px;background: url(../images/tools_arrow_down.png) no-repeat center center;cursor: pointer;margin-bottom:14px;}
.tools_step2_list.active .tools_step2_title i{background-color:#fab427;background-image: url(../images/tools_arrow_up.png);}
.tools_step2_list.active .tools_step2_text{display:block;}

.tools_step2_text{color:#1a1a1a;border:1px solid #e5e5e5;padding:18px 20px 18px 25px;line-height: 26px;font-size: 14px;margin-bottom:14px;height:500px;overflow: auto;display:none;}
.tools_step2_text p{padding:7px 0;}
.tools_step2_textTitle{font-size:26px;text-align: center;line-height:36px;font-weight: bold;}
.tools_step2_textList{line-height:30px;font-weight: bold;padding:0 !important;}
.tools_step2_textList i{color:#4c4c4c;margin-right:30px;}
.tools_step2_textSubTitle{font-size:20px;text-align: center;line-height:36px;font-weight: bold;}
.tools_step2_textRight{text-align: right;font-weight: bold;}
.tools_step2_text strong{color:#005daa;text-decoration: underline;}
.tools_step2_text em{font-weight: bold;}