@charset "UTF-8";
.trademark_nav{float:left;}
.trademark_save{float:right;background-color: #fff;color:#fab427;width:136px;text-align: center;border-radius: 21px;font-size: 24px;border:2px solid #fff;line-height: 38px;}
.trademark_save:hover{background-color: #fab427;color:#fff;}
/* 引导页 */
.trademark_title{line-height: 84px;color:#4c4c4c;font-size:30px;border-bottom:1px solid #e6e6e6;position: relative;}
.trademark_title span{display:inline-block;position: relative;}
.trademark_title i{width:12px;height:12px;background:url(../images/login_title_bg.png) no-repeat;position: absolute;left:50%;bottom:-6px;margin-left:-6px;}
.trademark_title em{position: absolute;line-height:28px;font-size: 18px;color:#ff4c4c;right:0;bottom:0;font-weight: normal;cursor: pointer;}
.trademark_title em:hover{text-decoration: underline;}
.trademark_tips{font-size: 14px;color:#808080;line-height: 18px;margin-top: 22px;font-weight: bold;margin-bottom:34px;}
.trademark_tips em{font-size: 18px;color:#fab427;}
/* steps */
.trademark_step{margin:95px 78px 0;border-top:2px solid #d8d8d8;padding-bottom:30px;}
.trademark_step li{float:left;text-align: center;width:209.2px;margin-top:-36px;}
.trademark_step .trademark_step_li1{margin-left:-65.6px;}
.trademark_step .trademark_step_li2{margin-right:-65.6px;;float:right;}
.trademark_step span{position: relative;width:78px;height:72px;background-color: #fff;display:inline-block;display: inline-block;}
.trademark_step i{width:72px;height:72px;background: url(../images/trademark_nav_bg.png) center center;display:block;margin:0 auto;line-height: 72px;text-align: center;font-size:30px;color:#8c8c8c;}
.trademark_step em{font-size:18px;color:#4d4d4d;display:block;line-height: 30px;text-align: center;margin-top:14px;}
.trademark_step .active i{width:49px;height:49px;background:#f9b427;border:1px solid #fbd27d;display:block;margin-top:10px;line-height:49px;font-size:30px;color:#fff;}
.trademark_step .active em{color:#f9b427;}

.trademark_steps h3{font-size: 24px;color:#808080;line-height: 40px;text-align: center;}
.trademark_steps_title1{margin-bottom:40px;}
.trademark_steps_title2{margin-bottom:24px;}
.trademark_download{text-align: center;}
.trademark_steps_btn{width:314px;line-height:70px;height:70px;border:1px solid #ffd88a;border-left-width:2px;border-right-width:2px;font-size:24px;color:#fab427;text-align: center;border-radius: 5px;background: #fff9ec;display: inline-block;box-shadow:1px 1px 4px #ffd88a;}
/* .trademark_steps_top .trademark_steps_btn{position: relative;}
.trademark_steps_text{position: absolute;padding:17px;border:1px solid #8dd2ee;font-size:24px;border-radius: 5px;background: #dff6ff;left:-2px;top:-1px;width:282px;line-height: 18px;font-size: 14px;text-align: left;color:#3d80bc;display: none;box-shadow:1px 1px 4px #e3e3e3;}
.trademark_steps_text em{line-height: 22px;font-size: 18px;color:#055fab;display: block;margin-bottom: 8px;}
.trademark_steps_btn:hover .trademark_steps_text{display: block;} */
.trademark_download_link{font-size: 18px;color:#ff4c4c;line-height: 30px;text-decoration: underline;margin-top:14px;display:inline-block;}
.trademark_download_link:hover{text-decoration: underline;}
.trademark_steps_top{margin-bottom:65px;}
.trademark_steps_top .trademark_download{width:33%;float:left;}
.trademark_steps_top .trademark_download2{width:34%;}
.trademark_steps_bottom{margin-bottom: 138px;}

.trademark_steps_check{margin-top:38px;}
.trademark_steps_check .title{font-size: 24px;color:#4c4c4c;line-height:48px;text-align: right;width:250px;font-weight: bold;margin-right:48px;float:left;}
.trademark_steps_check .content{margin-left:298px;}
.trademark_check_btn{line-height:44px;font-size:24px;color:#000;padding:0 18px;text-align: center;border-radius:3px;border:2px solid #b3b3b3;position: relative;margin:0 19px 17px 0;float:left;cursor: pointer;}
.trademark_check_btn1{border-bottom:2px solid #e6e6e6;margin-bottom:25px;padding-bottom:25px;}
.trademark_check_btn1 .trademark_check_btn{clear: both;float: none;display: inline-block;color:#000;border-color: #000;margin:0;}
.trademark_check_btn i{width:12px;height:12px;background: url(../images/trademark_icon.png) no-repeat;position: absolute;right:-2px;top:-2px;display:none;}
.trademark_check_btn:hover,.trademark_check_btn.active{border-color: #fab427;}
.trademark_check_btn.active i{border-color: #fab427;display:block;}

.trademark_handle{margin-top:24px;}
.trademark_handle .content{padding:6px 0 26px 0;}
.trademark_handle .content span{float:left;text-align:center;line-height: 36px;font-weight: bold;}
.trademark_handle i{display: block;font-size: 24px;color:#4c4c4c;line-height: 38px;}
.trademark_handle em{display: block;font-size: 24px;color:#fab427;}
.add_icon{width:20px;height:20px;background: url(../images/trademark_add.png) no-repeat center center;margin:25px 25px;}
.equal_icon{width:20px;height:20px;background: url(../images/trademark_equal.png) no-repeat center center;margin:25px 25px;}
/* .trademark_handle_2{width:158px;}
.trademark_handle_3{width:132px;} */
.trademark_handle_3 em{color:#ff1111;}

.trademark_handle .m_agreement_bottom{margin-left:298px;}
a.m_square_text{display:inline-block;margin-left:0 !important;}

.trademark_btn_box{margin-top:70px;text-align: center;}
.trademark_btn{line-height: 40px;width:138px;text-align: center;color:#f9b427;font-size:18px;font-weight:bold;background-color: #fff;display:inline-block;border-radius: 20px;border:1px solid #f9b427;}
.trademark_btn:disabled{background-color: #b3b3b3 !important;color: #fff !important;border-color:#b3b3b3 !important;}

.trademark_class{margin-top:89px;}
.trademark_class .content{position: relative;}
.trademark_class_title{font-size:24px;color:#005daa;font-weight: bold;line-height: 48px}
.trademark_class_text{position: absolute;width:100%;line-height:26px;color:#ff4c4c;left:0;top:-83px;font-size: 18px;}
.trademark_basic{display:none;}
.m_knowledge_dialog .m_dialog_content{margin-top:-293px;}
.m_knowledge_dialog .m_dialog_content p{text-indent:0;}
/* step1 */
.trademark_head{font-size: 18px;color:#4c4c4c;line-height:48px;padding:0 0 5px 10px;}
.trademark_head i{font-size: 24px;color:#fab427;line-height:44px;border:2px solid #fab427;width:177px;text-align:center;margin-left:14px;border-radius: 3px;display: inline-block;}
.trademark_from{padding-top:13px;}
.trademark_from_list{padding:24px 0;}
.trademark_from_left{width:260px;text-align: right;font-size: 18px;float:left;color:#4c4c4c;line-height: 46px;margin-right:40px;position: relative;}
.trademark_from_left_icon{position: absolute;right:0;bottom:-12px;line-height: 24px;}
.trademark_from_right{margin-left:300px;width:696px;}
.m_radio{padding-top:12px;}
.m_radio_list{width:253px;}
.m_rotate{margin-right:12px;border-color:#96d6ef;}
.m_rotate i{border-color:#f2f2f2;}
.m_label.checked .m_rotate i {background-color: #005daa;border-color: #005daa;}
.trademark_from_noHandle{color:#333;font-size: 18px;line-height: 46px;font-weight: bold;}
.m_point{padding-top:8px;margin-bottom:-20px;}
/* step2 */
.trademark_from_right textarea{height:188px;}
.trademark_different_type{white-space: nowrap;line-height:24px;color:#808080;padding-top:9px;}
.trademark_different_btn{color:#005daa;font-weight: bold;}
.trademark_different_btn:hover{text-decoration: underline;}
.ml180{margin-left:180px;}

.trademark_class_link{line-height: 26px;padding-top:10px;}
.trademark_class_link a{float:left;color:#f9b427;font-size:18px;font-weight: bold;}
.trademark_class_link a:hover{text-decoration: underline;}
.m_link_point{margin:0;padding:0;padding-top:14px;}
.trademark_class_ul{margin-top:7px;}
.trademark_class_li{padding:9px 0;overflow: hidden;}
.trademark_class_icon{width:18px;height:18px;float:left;background: url(../images/trademark_class_icon.png) no-repeat;cursor: pointer;}
.trademark_class_list_text{line-height: 18px;color:#4c4c4c;margin-left:32px;}
.trademark_class_list_text em{font-weight: bold;}
.checked .trademark_class_icon{background-position: 0 -18px;cursor: default;}
.checked .trademark_class_list_text{color:#005daa;}
/* 弹窗 */
.m_class_dialog .m_dialog_content{margin-top:-293px;}
.m_class_dialog .m_iscroll_content{margin-top:-30px;}
.m_class_list{float:left;width:50%;margin-top:42px;}
.m_class_icon{cursor: pointer;width:18px;height:18px;float:left;background: url(../images/trademark_class_icon.png) no-repeat;}
.m_class_title{line-height: 18px;color:#4c4c4c;margin-left:32px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.m_class_title em{font-weight: bold;}
.checked .m_class_icon{background-position: 0 -18px;cursor: default;}
.checked .m_class_title{color:#005daa;}

.m_rules_dialog .m_dialog_content{width:761px;padding-bottom:70px;margin:-320px 0 0 -408px;}
.m_rules_dialog .m_dialog_title {margin-bottom:20px;}
.m_rules_text{color:#4c4c4c;line-height: 74px;font-size: 18px;font-weight: bold;}
.m_rules_text em{font-size: 24px;color:#e83d3d;vertical-align: middle;}
.m_rules_point{color:#eb1010;line-height: 18px;margin:36px 0 72px;}
.m_rules_total{text-align: center;padding-right:23px;}
.m_rules_total span{display:inline-block;vertical-align: middle;}
.m_rules_total span i{display: inline-block;}
.m_rules_step{font-size: 24px;color:#f9b427;line-height:29px;width:130px;height:130px;border-radius:65px;border:1px solid #fabe45;}
/* .add_icon{margin:0 17px;}
.equal_icon{margin:0 17px;} */
/* step3 */
.trademark_step3_wrapper .trademark_from_right{padding-top:12px;width:886px;}
.trademark_step3_wrapper .trademark_step3_box{margin:32px 0 -10px;}
/* step4 */
.trademark_step4_wrapper .trademark_tab{margin-top:-11px;}
.mt16{margin-top:16px;}
/* step5 */
.trademark_order_title{font-size:18px;color:#4c4c4c;line-height:34px;margin-top:18px;font-weight: bold;}
.trademark_order_title p{padding-top:8px;}
.trademark_order_title em{font-size:24px;color:#333;}
.trademark_order_title .trademark_order_blue{color:#055fab;margin-left:6px;}
.order_table{border:1px solid #8dd2ee;width:100%;background-color: #dff6ff;text-align: center;font-weight: bold;}
.order_table th{font-size:20px;color:#005daa;height:58px;border:1px solid #8dd2ee;height:46px;}
.order_table .order_table_line{height:1px;font-size: 0;overflow: hidden;}
.order_table tbody td{color:#4d4d4d;font-size:18px;border:1px solid #8dd2ee;vertical-align: middle;height:42px;}
.order_text{font-weight: bold;font-size:14px;line-height:16px;color:#ff4c4c;margin-top:16px;position: relative;}
.order_total{position: absolute;right:20px;top:0;line-height:40px;color:#4c4c4c;font-size:18px;font-weight: bold;}
.order_total em{font-size:30px;color:#ff1111;}
.order_btn_box{margin-top:34px;}
.order_btn{float:right;height:48px;font-size:24px;width:180px;text-align: center;color:#fefefe;font-style:italic;border-radius: 8px;border-top:2px solid #fac14b;border-bottom:2px solid #d59719;background-color: #f9b427;font-weight: bold;line-height: 48px;}
.order_link{float:right;text-decoration: underline;line-height:28px;font-size:18px;color:#f9b427;margin:24px 27px 0 0;font-weight: bold;}
.order_link:hover{text-decoration: underline;}
/* step6 */
.trademark_step6_point{font-size: 14px;color:#808080;vertical-align: middle;margin-left: 12px;font-weight: normal;}
.trademark_step6_wrapper .trademark_step3_box{padding:58px 0 20px;width: auto;text-align: center;margin-bottom:0;}
.trademark_step6_wrapper .m_radio{display: inline-block;}
.trademark_step6_wrapper .m_radio_list{padding:0 60px;width: auto;}
.trademark_step6_wrapper .m_label{float:none;display: block;margin:0 auto;}
.trademark_step6_wrapper .m_label_text{float:none;display: block;height:110px;background-repeat: no-repeat;background-position: center center;}
.trademark_step6_wrapper .m_rotate{float:none;display: block;margin:0 auto;margin-top:32px;}
.pay_icon1{background-image: url(../images/pay_icon1.png);width:107px;}
.pay_icon2{background-image: url(../images/pay_icon2.png);width:149px;}
.pay_icon3{background-image: url(../images/pay_icon3.png);width:119px;}
.pay_icon4{background-image: url(../images/pay_icon4.png);width:181px;}
.trademark_step5_wrapper .trademark_btn_box{text-align: left;margin-top:24px;}
.pay_point{font-weight:600;font-size: 14px;color:#808080;line-height:17px;margin-top:15px;display: none;}
/* step7 */
.pay_other .order_btn_box{text-align: center;}
.pay_other .order_link{float:none;display: inline-block;margin:0 27px 0 0;vertical-align: center;}
.pay_other .order_btn{float:none;display: inline-block;width:482px;}

.pay_success{text-align: center;font-weight: bold;margin-top:64px;}
.pay_success_text1{font-size:30px;color:#1a1a1a;line-height:62px;}
.pay_success_text2{font-size:18px;color:#4c4c4c;line-height:62px;width: 400px;margin: 0 auto;text-align: left;}
.pay_success_text2 em{font-size:24px;color:#055fab;}
.trademark_step7_wrapper .order_total{position: static;width: 400px;margin: 0 auto;text-align: left;}
.trademark_step7_wrapper .order_total em{margin-left:16px;vertical-align: middle;}
.pay_success_text3{font-size:14px;color:#808080;line-height:18px;margin-top:12px;text-align: left;}
.pay_success_text4{font-size:18px;color:#1a1a1a;line-height:62px;}

.pay_description{color:#808080;font-size: 18px;line-height:40px;margin-top: 80px;text-align: left;}
.pay_description h3{font-size: 24px;color:#4c4c4c;line-height:46px;}
.pay_description img{margin-bottom:14px;height:120px;}
.pay_input{width:695px;margin:20px 0;}

.pay_form .pay_success_text4{font-size: 24px;}
.pay_form .order_btn_box{text-align: center;}
.pay_form .order_btn{float:none;display: inline-block;}

/* 支付弹窗 */
.m_pay_table{width:100%;text-align: left;}
.m_pay_table td{color:#4d4d4d;font-size:18px;border:1px solid #8dd2ee;vertical-align: middle;height:30px;padding:10px;word-break:break-all;word-wrap:break-word;white-space:normal;}
.m_pay_table td i{display: inline-block;vertical-align: middle;width:25px;height:25px;background-repeat: no-repeat;background-position: center center;margin-right:5px;}
.m_pay_icon1{background-image: url(../images/pay_icon1.gif);}
.m_pay_icon2{background-image: url(../images/pay_icon2.gif);}
.m_pay_icon3{background-image: url(../images/pay_icon3.gif);}