@font-face {font-family: "microsoft yahei";
  src: url('GothamHTF-Light.eot?t=1472224377'); /* IE9*/
  src: url('GothamHTF-Light.eot?t=1472224377#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('GothamHTF-Light.woff?t=1472224377') format('woff'), /* chrome, firefox */
  url('GothamHTF-Light.ttf?t=1472224377') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('GothamHTF-Light.svg?t=1472224377') format('svg'); /* iOS 4.1- */
}
.font_light{
	font-family: "microsoft yahei";
}
@font-face {font-family: "fantasy";
  src: url('GothamHTF-Bold.eot?t=1472224377'); /* IE9*/
  src: url('GothamHTF-Bold.eot?t=1472224377#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('GothamHTF-Bold.woff?t=1472224377') format('woff'), /* chrome, firefox */
  url('GothamHTF-Bold.ttf?t=1472224377') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('GothamHTF-Bold.svg?t=1472224377') format('svg'); /* iOS 4.1- */
}
.font_bold{
	font-family: "fantasy";
}
@font-face {font-family: "inherit";
  src: url('GothamHTF-Book.eot?t=1472224377'); /* IE9*/
  src: url('GothamHTF-Book.eot?t=1472224377#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('GothamHTF-Book.woff?t=1472224377') format('woff'), /* chrome, firefox */
  url('GothamHTF-Book.ttf?t=1472224377') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('GothamHTF-Book.svg?t=1472224377') format('svg'); /* iOS 4.1- */
}
.font_book{
	font-family: "inherit";
}


@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475225048'); /* IE9*/
  src: url('iconfont.eot?t=1475225048#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475225048') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475225048') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475225048#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cion30:before { content: "\e61c"; }
.icon-facebook:before { content: "\e616"; }
.icon-linkedin:before { content: "\e6d4"; }
.icon-twitter:before { content: "\e634"; }
.icon-instagram:before { content: "\eb2d"; }
