body{
	background-color: #31E5D9;
	width: 100%;
	-webkit-transition: .4s background-color linear;
	-moz-transition: .4s background-color linear;
	-ms-transition: .4s background-color linear;
	-o-transition: .4s background-color linear;
	transition: .4s background-color linear;
}
header h1 a{
	background:url(../../img/logo.svg) no-repeat center;
	width: 4.475rem;
	height: 1.925rem;
	display: block;
	text-indent: -9999em;
	margin-left: 1.25rem;
	margin-top: 1.25rem;
}
header div{
	height:6.25rem !important;
}
.ov{
	width: 100%;
	margin-bottom: 4rem;
}
.nav_phone{
	display: block;
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	z-index: 3;
}
.nav_phone span{
	width: 1.125rem;
	height: 2px;
	background: #fff;
	display: block;
	margin-bottom: 0.325rem;
}
.page_1 div:nth-child(1){
	position: absolute;
	top: 36.66%;
	left: 1.3rem;
}
.nav{
	display: none;
}
.shade{
	width: 100%;
	height: 100%;
	background: #1d1d1b;
	position: absolute;
	top: 0;
	z-index: -1;
	display: block;
	opacity: 0;
	transition: .5s all linear;
}
.shade h4{
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	line-height:1.875rem;
	margin-bottom: 1.625rem;
	opacity: 0;
}
.shade>div{
	margin-top: 7.1rem;
}
.shade .cn{
	font-family: "微软雅黑";
	font-weight: bold;
}
#close{
	width: 0.95rem;
	height: 0.95rem;
	position: absolute;
	right: 1.3rem;
	top: 1.25rem;
	background: url(../../img/close.png);
	background-size: cover;
	opacity: 0;
}
.shade h4:nth-child(1){
	transition: .8s all ease;
	-webkit-transition: .8s all ease;
}
.shade h4:nth-child(2){
	transition:all .8s ease .1s;
	-webkit-transition:all .8s ease .1s;
}
.shade h4:nth-child(3){
	transition:all .8s ease .2s;
	-webkit-transition:all .8s ease .2s;
}
.shade h4:nth-child(4){
	transition:all .8s ease .3s;
	-webkit-transition:all .8s ease .3s;
}
.ov img{
	width: 19rem !important;
	height: 13.25rem !important;
	transition: .3s all linear;
	-webkit-transition: .3s all linear;
}
.infor{
	float: left;
}
.nav a span{
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 2px;
	width: 0;
	background: #fff;
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-ms-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
}
.nav a:nth-child(1):hover .info_span{
	width: 1rem;
}
.nav a:nth-child(2):hover .work_span{
	width: 1.2rem;
}
.nav a:nth-child(3):hover .cn_span{
	width: 1rem;
}
.info{
	width: 12.5rem;
	margin-left: 1.25rem;
	padding-top: 14.5rem !important;
}
.obj_r,.obj_l{
	position: relative;
}
.obj_r .show{
	position: absolute;
	right: -4rem;
}
.obj_l .show{
	position: absolute;
	left: -4rem;
}
.info span{
	color: #3798a0;
	display: block;
	margin-top:2px;
	font-size: .5rem;
}
.info h3{
	color: #fff;
	margin-top: 2.1rem;
	font-size: .9rem;
}
.info p{
	color: #adedf4;
	font-size: .5rem;
	line-height: .9rem;
	margin-top: 1rem;
}
.info a{
	color: #fff;
	font-size:0.675rem;
	display: block;
	margin-top: 1rem;
}
.footer{
	height: 18rem;
	width: 100%;
	background: #fff;
}
.footer>div{
	height: 18rem !important;
}
.iconfont{
	font-size: 1rem !important;
}
.Icon ul li{
	margin: 0 0.875rem;
	cursor: pointer;
	transition: .5s all ease;
}
.Icon ul li:nth-child(3){
	margin-right: 0;
}
.Icon{
	position: absolute;
	right: 0;
	bottom:1rem;
}
.Icon p{
	margin:0;
}
.contact{
	margin-top:0;
	position: relative;
	height: 18rem;
}
.contact div:nth-child(1){
	padding-top: 1.725rem ;
}
.contact>div{
	float: none;
	margin-left:1.25rem;
}
.contact div:nth-child(2){
	margin-top:1.2rem ;
}
.contact div h3,p{
	font-size: 0.5rem !important;
}
.contact div:nth-child(3) p{
	font-size: 0.45rem !important;
	margin-top: 0.2rem;
}
.contact>div h3{
	line-height: 1.75rem;
}