html,body{
	height: 100%;
}
header h1 a{
	background:url(../../img/logo.svg) no-repeat center;
	width: 179px;
	height: 77px;
	display: block;
	text-indent: -9999em;
	margin-left: 100px;
	margin-top: 100px;
	transition: .3s all ease;
	-webkit-transition: .3s all ease;
}
.nav{
	margin-top: 100px;
	margin-right: 80px;
	transition: .3s all ease;
	-webkit-transition: .3s all ease;
}
.nav a{
	float: left;
	margin: 0 20px;
	color:#3c3c3b;
	font-size: 16px;
	position: relative;
	cursor: pointer;
	transition: .3s all ease;
	-webkit-transition: .3s all ease;
}
.nav a span{
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 2px;
	width: 0;
	background:#3c3c3b;
	-webkit-transition: .2s all linear;
	-moz-transition: .2s all linear;
	-ms-transition: .2s all linear;
	-o-transition: .2s all linear;
	transition: .2s all linear;
}
.nav a:nth-child(1):hover .info_span{
	width: 32px;
}
.nav a:nth-child(2):hover .work_span{
	width: 40px;
}
.nav a:nth-child(3):hover .cn_span{
	width: 32px;
}
header{
	height: 800px;
	background: url(../../img/info_bg1.png) center;
	background-size:cover;
}
header>div{
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
}
.aboutme h2{
	font-size: 40px;
	color: #3c3c3b;
	margin-left: 100px;
	margin-top: 170px;
}
.hint p{
	font-size: 16px;
	color: #929090;
	margin-left: 100px;
	margin-top: 220px;
}

.sec1{
	height: 750px;
	background: #fff;
}
.sec1>div{
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
}
.wl,.wr{
	width: 50%;
}
.client span{
	color: #35d9e7;
	font-size: 160px;
	line-height: 200px;
	display: inline-block;
	margin-top: 200px;
	margin-left: 210px;
}
.client em{
	width:300px;
	height: 1px;
	background: #35d9e7;
	display: block;
	margin-left: 184px;
}
.client i{
	color: #35d9e7;
	font-size: 72px;
	font-style: normal;
}
.client p{
	color: #35d9e7;
	margin-left: 200px;
	font-size: 24px;
	margin-top:15px;
}
.sec1_r div:nth-child(1){
	margin-top: 201px;
	font-size: 36px;
	line-height: 48px;
	width: 480px;
	color: #3c3c3b;
	margin-left: 50px;
}
.sec1_r div:nth-child(2){
	font-size: 16px;
	line-height: 28px;
	margin-top: 88px;
	width: 480px;
	color: #767675;
	margin-left: 50px;
}


.sec2{
	height: 830px;
	background: #32dae8;
	color: #fff;
}
.sec2>div{
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
}
.sec2_l h3{
	font-size:36px;
	margin-top:210px;
	margin-left: 100px;
}
.sec2_l p{
	font-size:16px;
	line-height: 28px;
	margin-top: 40px;
	margin-left: 100px;
	width: 470px;
}
.sec2_r{
	padding-top: 200px;
}
.sec2_r h3{
	font-size: 16px;
	line-height: 28px;
	margin-left: 50px;
}
.sec2_r p{
	font-size: 14px;
	line-height: 26px;
	color: #92ebf3;
	margin-bottom:30px;
	margin-left: 50px;
	width: 490px;
}

.sec3{
	height: 820px;
}
.sec3>div{
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
}
.sec3_l{
	position: relative;
}
.circle{
	width: 320px;
	height: 320px;
	border: 1px solid #32dae8;
	border-radius: 50%;
	position: absolute;
	top: 250px;
	left: 160px;
}
.circle span:nth-child(1){
	position: absolute;
	left:50%;
	margin-left:-26px;
	top:-41px;
}
.circle span:nth-child(2){
	position: absolute;
	right:-28px;
	top:50%;
	margin-top:-41px;
}
.circle span:nth-child(3){
	position: absolute;
	left:50%;
	margin-left:-40px;
	bottom:-34px;
}
.circle span:nth-child(4){
	position: absolute;
	left:-14px;
	top:50%;
	margin-top:-40px;
}
.sec3_r h3{
	font-size:36px;
	line-height: 47px;
	margin-top: 204px;
	margin-left: 50px;
	width: 490px;
	margin-bottom: 87px;
	color: #3c3c3b;
}
.sec3_r p{
	font-size:16px;
	line-height:28px;
	width: 490px;
	margin-left: 50px;
	margin-bottom:30px;
	color: #737372;
}

.sec4{
	height:870px;
	color: #3c3c3b;
	background: #f6f6f6;
}
.sec4>div{
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
}
.sec4_l h3{
	font-size: 36px;
}

















































