.home h1 a{
	width: 6.025rem;
	height: 2.573rem;
	text-indent: -9999em;
	background: url(../img/logo.svg);
	background-size:cover ;
	position: absolute;
	left: 1.3rem;
	top: 1.2rem;
	z-index: 3;
}
#bg{
	display: none;
}
.nav{
	display: none;
}
.content{
	display: none;
}
.nav_footer{
	display: none;
}
#sli{
	position: absolute;
	top: 36.66%;
	left: 1.3rem;
}
#sli p{
	color: #fff;
	font-size:1.45rem !important;
	line-height: 1.6rem;
	width:13.3rem;
}
.nav_phone{
	display: block;
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	z-index: 3;
}
.nav_phone span{
	width: 1.125rem;
	height: 2px;
	background: #fff;
	display: block;
	margin-bottom: 0.325rem;
}
.page_1 div:nth-child(1){
	position: absolute;
	top: 36.66%;
	left: 1.3rem;
}
.page_1 div:nth-child(1) p{
	color: #fff;
	font-size:1.45rem;
	line-height: 1.6rem;
}
.info{
	height: 18rem;
}
.contact>div{
	float: none;
	margin-left:1.25rem;
}
.contact>div h3{
	line-height: 1.75rem;
}
.contact div:nth-child(1){
	margin-top: 1.725rem;
}
.contact div:nth-child(2){
	margin-top:1.2rem ;
}
.pad div:nth-child(1){
	margin-bottom: 1rem;
}
.pad>div p:nth-child(1){
	font-size: 0.9rem !important;
}
.pad>div p:nth-child(2){
	font-size: 0.5rem !important;
}
.pad{
	position: absolute;
	bottom: 1.3rem !important;
	z-index: 3;
}
.shade{
	width: 100%;
	height: 100%;
	background: #1d1d1b;
	position: absolute;
	z-index: -1;
	display: block;
	opacity: 0;
	transition: .5s all linear;
}
.shade h4{
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	line-height:1.875rem;
	margin-bottom: 1.625rem;
	opacity: 0;
}
.shade>div{
	margin-top: 7.1rem;
}
.shade .cn{
	font-family: "微软雅黑";
	font-weight: bold;
}
#close{
	width: 0.95rem;
	height: 0.95rem;
	position: absolute;
	right: 1.3rem;
	top: 1.25rem;
	background: url(../img/close.png);
	background-size: cover;
	opacity: 0;
}
.shade h4:nth-child(1){
	transition: .8s all ease;
	-webkit-transition: .8s all ease;
}
.shade h4:nth-child(2){
	transition:all .8s ease .1s;
	-webkit-transition:all .8s ease .1s;
}
.shade h4:nth-child(3){
	transition:all .8s ease .2s;
	-webkit-transition:all .8s ease .2s;
}
.shade h4:nth-child(4){
	transition:all .8s ease .3s;
	-webkit-transition:all .8s ease .3s;
}
.iconfont{
	font-size: 1rem;
}
.Icon ul li{
	margin: 0 0.875rem;
	cursor: pointer;
	transition: .5s all ease;
}
.Icon ul li:nth-child(3){
	margin-right: 0;
}
.Icon{
	margin-top: 2.5rem;
	margin-right: 1rem;
	position: absolute;
	right: 0;
	bottom:1.25rem;
}
.Icon p{
	margin:0;
}
.contact div h3,p{
	font-size: 0.5rem !important;
}
.contact div:nth-child(3) p{
	font-size: 0.45rem !important;
	margin-top: 0.2rem;
}
/* 竖屏*/
@media screen and (orientation:portrait) and (max-width: 640px) {

}
/*横屏*/
@media screen and (orientation:landscape){

}
